/***********************************************************************
 * Main.css
 **********************************************************************/

button {
	cursor: pointer;
}

.clear {
	clear: both;
}

#body {
	margin: auto;
	width: 900px;
}

#information {
    width: 290px;
    float: right;
}
    #information h1,
    #information h2 {
        margin: 0;
        text-align: center;
    }
    #information h1 {
        font-size: 4.5em;
        margin: 0;
    }

#content .games-list {
	width: 600px;
}
#content .games-list ul {
	margin: 0;
	padding: 0;
}
#content .games-list ul li {
	background-color: #ff9;
	border: 1px solid #f90;
	border-radius: 3px;
	list-style-type: none;
	list-style-position: outside;
	padding: 5px 10px;
	margin: 5px 0;
}
#content .games-list ul li p {
	margin: 3px 0;
}
#content .games-list .join-game {
	float: right;
	padding: 9px 18px;
}

#players {
    border: 1px solid black;
    background: black;
    width: 600px;
}
    #players span {
        display: inline-block;
        font-weight: bold;
        text-align: center;
        text-shadow: white 0px 0px 15px;
        width: 24%;
    }

#map {
    border: 1px solid black;
    position: relative;
    text-align: center;
    width: 600px;
}
    #map #loader {
        margin: 0;
        margin-top: 5px;
    }
    #map #loading-state {
        font-family: Courier, sans-serif;
        margin: 0;
        margin-bottom: 5px;
    }
    #map .cell {
        border: 1px solid #fff;
        position: absolute;
        -moz-box-shadow: inset 0 0 5px #888;
        -webkit-box-shadow: inset 0 0 5px #888;
        box-shadow: inner 0 0 5px #888;
    }

body > footer {
    clear: both;
    margin-top: 20px;
    text-align: center;
}
